.header-advantages{
     max-width: 100%;
     margin-top: 16px;

     .header-advantages__wrap{
          padding: 34px 32px;
          flex-direction: column;
          dl{
               align-items: center;

               &:not(:last-child){
                    margin-bottom: 24px;
               }
               dt{
                    margin-bottom: 16px;
               }
          }
          dd{
               text-align: center;
          }
     }
}