.header-title {
     *{
          text-align: center;
     }
     h1 {
          
          font-size: 24px;
          line-height: 125%;
     }

     p{
          font-size: 12px;
          margin-bottom: 16px;
     }

     a{
          font-size: 12px;
     }
}