.partner-banner{
     background-color: #273895;
     height: 274px;
     .partner-banner_text-wrap{
          .partner-banner_text{
               padding-top: 49px;
               text-align: center;
               p{
                    max-width: fit-content;
               }
          }

          img{
               width: 214px;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -28%);
          }
     }

     .partners-banner-planet{
          display: none;
     }
}