.start {
     margin-bottom: 72px;
     h2{
          font-size: 24px;
          margin-bottom: 24px;
     }
     .start_content-wrap {
          position: relative;
          > img {
               display: none;
          }
          .start-content_card-block-wrap{
               padding: 0;
               display: flex;
               flex-direction: column;
               grid-row-gap: 8px;
               article {

                    > div{          
                         padding: 24px;
                    }
                    h3{
                         &::before{
                              margin-bottom: 22px;
                         }
                    }
               }
               .start-content_card--last{
                    height: auto;
                    ::before{
                         display: none;    
                    }
                    :last-child{
                         font-size: 12px;
                    }
                    
               }
               .start-content_card-wrap {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    grid-row-gap: 8px;
                    margin: 0;
                    :nth-child(2){
                         grid-column: 1/2;
                         grid-row: 2/3;
                    }
                    :nth-child(3){
                         grid-column: 2/3;
                         grid-row: 1/3;
                         > div img {
                              display: block;
                              margin: 0 auto;
                         }
                    }
               }
               
               
          }
          
     }
}
