.support-clients {
     margin-top: 32px;
     .support-clients__client-card{
          margin-top: 24px;
          grid-template-columns: repeat(1, 1fr);
          grid-column-gap: 0px;
          grid-row-gap: 8px;
          article{
               border-radius: 10px;
               div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    div{
                         padding: 0;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                    }
                    
                    padding: 24px;    
               }
          }
     }

     .support-clients__title {
          font-size: 14px;
     }

     .text-supprt-card-title {
          font-size: 14px;
     }

     .text-supprt-card-subtitle {
          font-size: 12px;

     }
     
}