
footer {
     .footer-info {
          display: flex;
          flex-direction: column;
          .logo-block-wrap{
               flex-wrap: wrap;
               justify-content: center;
               grid-row-gap: 16px;
               p {
                    margin: 0;
                    display: block;
                    text-align: center;
               }
          }
          .footer-info_social-media {
               margin-top: 32px;
               display: flex;
               justify-content: center;
               flex-wrap: wrap;
               grid-gap: 10px;

               a {
                    img {
                         padding: 11px;
                         width: 45px;
                         height: 45px;
                    }
               }
          }
     }     
     .confidentiality-wrap {
          > div {
               flex-direction: column-reverse;
               align-items: center;
               .confidentiality-wrap_links{
                    display: flex;
                    flex-direction: column;
                    :last-child{
                         margin-left: 0px;
                    }
               }
          }
     }
}
