.body{
     font-size: 12px;
}

.btn {
     font-size: 12px;
}



.text-section-title{
     font-size: 24px;
}

.text-subtitle{
     font-size: 14px;
}

// Индвивидуальные классы
.text-header-title{
     font-size: 24px;
     line-height: 125%;
}

.tariff-btn {
     font-size: 14px;
     padding: 8px 30px;
}

.tariff-btn--active{
     font-size:  12px;
}

.tariff-card-title-text{
     font-size: 12px;
}

.tariff-card-type-client-text{
     font-size: 12px;
}

.footer-author{
     font-size: 10px;
}

