.btn {
     border-radius: 15px;
     background: $mainColor;
     color: white;
     font-weight: 600;
     font-size: 16px;
     padding: 1em 2em;
}

.text16{
     font-size: 16px;
}
// Навигация 
// 16px прост