@import './logoBlock';
@import './header-pic';

.btn {
     display: inline-block;
     border-radius: 15px;
     background: $main-color;
     color: white;
     font-weight: 600;
     font-size: 16px;
     padding: 1em 2em;
}

.text16{
     font-size: 16px;
}

.text-title {
     color: #262626;
     font-size: 48px;
     font-weight: 700;
     line-height: 115%;

}

.text-p-title {
          color: #303030;
          font-size: 14px;
          font-weight: 400;
          line-height: 150%; 
     
}

.text-header-advantages{
     font-size: 16px;
     color: $text-grey-dark;
}
