@import './logoBlock';
@import './header-pic';

.btn {
     display: inline-block;
     border-radius: 15px;
     background: $main-color;
     color: white;
     font-weight: 600;
     font-size: 16px;
     padding: 1em 2em;
}

.text16{
     font-size: 16px;
}

.text-title {
     color: #262626;
     font-size: 48px;
     font-weight: 700;
}

.text-p-title {
          color: #303030;
          font-size: 14px;
          font-weight: 400;
}

.text-header-advantages{
     font-size: 16px;
     color: $text-grey-dark;
}

.text-support-title{
     color: #303030;
     font-size: 32px;
     font-weight: 700;
}

.text-support-subtitle{
     color: #404040;
}

.support-clients__title{
     color: #303030;
     text-align: center;
     font-size: 16px;
     font-weight: 700;
}

.text-supprt-card-title{
          color: #303030;
          font-size: 16px;
          font-weight: 700;
}

.text-supprt-card-subtitle{
     color: #404040;
}

.partner-title{
     color: #FFF;
     font-size: 32px;
     font-weight: 700;
}

.partner-subtitle{
     color: #E9E9E9;
     font-size: 16px;
     font-weight: 400;
}

.tariffs_header_title{
     color: #303030;
     font-size: 32px;
     font-weight: 700;
}

.tariffs_header_subtitle{
     color: #404040;
}

.tariff_toggle-text{
     color: #273895;
     font-size: 20px;
     *.tariff-toggle-active{
          color: #FFF;
          border-radius: 15px;
          background: #273895;
          padding: 10px 28px;
     }
}

.tariffs_card_title {
     color: #2741D0;
     font-size: 16px;
     font-weight: 700;
     letter-spacing: 2.4px;
     text-transform: uppercase;
}
.tariffs_card_type-client {
     color: #737373;
}

.tariffs_card_price {
     color: #404040;
     font-size: 16px;
     font-weight: 700;
}

.tariffs_card_privilege-title {
     color: #404040;
     font-size: 16px;
     font-weight: 400;
}

.tariffs_card_privilege{
     color: #404040;
     font-size: 16px;
     li{
          color: #404040;
          font-size: 16px;
     }
}
.tariffs_card_more-btn {
     color: #2741D0;
     font-size: 16px;
     font-weight: 400;
}

.tariffs_card{
     .tariffs_card_title::after{
          color: #C9C9C9;
          margin-top: 8px;
          font-size: 32px;
          font-style: normal;
     }
}

.plans{
     h2{
          font-size: 32px;
          font-weight: 700;
     }
     .plans_stats-wrap{

          dl{
               dt{
                    font-size: 32px;
                    font-weight: 700;
                    
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;    
               }
               &:nth-child(1){
                    dt{
                         background-image: linear-gradient(130deg, rgba(70,20,232,1),  rgba(188,167,255,1));
                    }
               }
          
               &:nth-child(2){
                    dt{
                         background-image: linear-gradient(130deg, rgba(70,20,232,1),  rgba(188,167,255,1) );
                    }
               }
     
               &:nth-child(3){
                    dt{
                         background-image: linear-gradient(230deg, rgba(70,20,232,1),  rgba(188,167,255,1));
                    }
               }
     
               &:nth-child(4){
                    dt{
                         background-image: linear-gradient(240deg, rgba(70,20,232,1),  rgba(188,167,255,1));
                    }
               }
          }
     
          
                              
     }
}

