.header-information{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: repeat(2, 1fr);
     align-items: center;
     position: relative;
     .header-information__connect{
          justify-self: end;

          .header-information_connect-icon {
               background: linear-gradient(326deg, #2641D1 11.53%, #3333A3 74.32%);     
               div {
                    justify-content: center;
                    align-items: center;
                    svg {
                         width: 100%;
                         height: 100%;
                         fill: white;
                    }
               }
          }
          #phone {
               margin-right: 36px;
          }
     }
}

