.header-information{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: repeat(2, 1fr);
     align-items: center;
     position: relative;
     .header-information__connect{
          justify-self: end;

          .header-information__connect__phone-icon {
               display: none;

               width: 50px;
               height: 50px;
               
               border-radius: 7px;
               background: linear-gradient(326deg, #2641D1 11.53%, #3333A3 74.32%);
               div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: 100%;
                    svg {
                         width: 50%;
                         height: 50%;
                         fill: white;
                    }
               }
          }
          #phone {
               margin-right: 36px;
          }
     }
}

