.header-information_nav {
     grid-column-start: 1;
     grid-column-end: 3;

     input {
          display: none;
     }

     .header-information_connect-icon {
          background: #DEE6EF;     
          div {
               flex-direction: column;
               justify-content: space-between;
               span{
                    display: block;
                    background-color: #4614E8;
                    border-radius: 1em;
                    height: 3px;
                    width: 100%;
               }
          }          
     }
     
     ul {
          display: flex;
          list-style:  {
               cursor: pointer;
          };

          :not(:last-child){
               margin-right: 48px;
          }
     
          #login-nav-btn{
               display: none;
          }
     }
}

