.header-information{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: repeat(2, 1fr);
     align-items: center;
     position: relative;

     margin-bottom: 120px;
     .header-information_connect{
          justify-self: end;
          
          .header-information_connect-icon {
               div {
                    justify-content: center;
                    align-items: center;
                    img {
                         width: 100%;
                         height: 100%;
                         fill: white;
                    }
               }
          }
          #phone {
               margin-right: 36px;
          }
     }
}

