.start {
     margin-bottom: 150px;
     h2{
          text-align: center;
          margin-bottom: 48px;
     }
     .start_content-wrap {
          position: relative;
          img {
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               width: 100%;
               z-index: -1;
          }
          .start-content_card-block-wrap{
               padding: 0 41.75px;
               display: flex;
               height: 100%;
               article {
                    border-radius: 20px;
                    background: #FFF;
                    box-shadow: 0px 4px 100px 0px rgba(208, 218, 227, 0.57);
                    counter-increment: article-counter;
                    display: flex;
                    align-items: center;
                    > div{          
                         padding: 32px;
                         h3 {
                              margin-bottom: 16px;
                         }
                    }
                    h3{
                         &::before{
                              text-align: center;
                              content: counter(article-counter);
                              display: block;
                              width: 20px;
                              height: 20px;
                              border: 1px solid black;
                              border-radius: 50%;
                              padding: 17px;
                              margin-bottom: 16px;
                         }
                    }
               }
               .start-content_card--last{
                    height: 366px;
                    ::before{
                         display: none;    
                    }
                    :last-child{
                         margin-top: 16px;
                         font-size: 15px;
                    }
               }
               .start-content_card-wrap {
                    $gapGrid: 16px;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    grid-gap: $gapGrid;
                    margin-right: $gapGrid;
                    :nth-child(2){
                         grid-column: 1/2;
                         grid-row: 2/3;
                    }
                    :nth-child(3){
                         grid-column: 2/3;
                         grid-row: 1/3;
                    }
               }
               
               
          }
          
     }
}
