.support-clients {
     border-radius: 10px;
     .support-clients__client-card{
          margin-top: 31px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-column-gap: 16px;
          article{
               border-radius: 10px;
               background-color: #fff;
               div{
                    div{
                         padding: 0;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                    }
                    h3{
                         margin: 16px 0px;
                    }
                    padding: 32px;    
               }
          }
     }
     
}