.partner-banner{
     overflow: hidden;
     background-color: #273895;
     z-index: -2;
     position: relative;
     height: 398px;
     margin-bottom: 172px;
     .partner-banner_text-wrap{
          max-width: 100%;
          position: relative;
          .partner-banner_text{
               padding-top: 88px;
               h2{
                    margin-bottom: 16px;
               }
               p{
                    max-width: 321px;
               }
          }
          img{
               position: absolute;
               width: 405px;
               height: 391px;
               
               z-index: 0;
               top: 30px;
               left: 0;
          }
     }
     .partners-banner-planet{
          position: absolute;
          top: 0;
          left: 100%;
          transform: translateX(-100%);
          z-index: -1;
          height: 100%;
     }
}