@import './header-information';
@import './header-information-nav';
@import './header-title';


.header-information_connect-icon{
     cursor: pointer;
     width: 50px;
     height: 50px;
     border-radius: 7px;
     display: none;
     div {
          width: 50%;
          height: 50%;
          display: flex;
     }
}