<!DOCTYPE html>
<html lang="ru">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>
<body>
     <header>
          
          <div class="logo">
               <img src="" alt="Logo">
          </div>
          <nav>
               <ul>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">Sirius</a></li>
                    <li><a href="#">Тарифы</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Контакты</a></li>
               </ul>
               <a href="tel:+78005113768">8 (800) 511-37-68</a>
               <a href="#">Войти</a>
          </nav>
          <h1>Юридический полис ILC — быстрое решение сложных вопросов 24/7</h1>
          <p>Ваша личная команда профессиональных юристов, которая всегда под рукой. А также доступ к бонусам партнерской программы — доход до $260 с каждого полиса, купленного по вашему приглашению.</p>
          <a href="#">Попробовать бесплатно</a>
          <dl>
               <dt><img src="" alt="support"></dt>
               <dd>Юридическая поддержка 24/7</dd>

               <dt><img src="" alt="support"></dt>
               <dd>Множество возможностей в одном полисе</dd>

               <dt><img src="" alt="support"></dt>
               <dd>Бонусы партнерской программы</dd>
          </dl>
     </header>
     <main>
          <section class="support">
               <h2>Ваша личная online команда юристов</h2>
               <p>Мы предоставляем комплексный консалтинговый сервис с полисной системой обслуживания для частных клиентов и для бизнеса, с использованием новейших цифровых технологий.</p>
               <dl>
                    <dt></dt>
                    <dd></dd>

                    <dt></dt>
                    <dd></dd>

                    <dt></dt>
                    <dd></dd>

                    <dt></dt>
                    <dd></dd>
               </dl>
               <p>Даём поддержку</p>
               <article>
                    <img src="" alt="">
                    <h3>Бизнесу</h3>
                    <p>Услуги профессиональных юристов для вашей компании по фиксированному тарифу — это в несколько раз выгоднее, чем содержать свой штат.</p>
               </article>
               <article>
                    <img src="" alt="">
                    <h3>StartUP проектам</h3>
                    <p>Эксперты ILC помогут выбрать оптимальную правовую форму для ведения бизнеса, оптимизировать налоги и подготовить необходимый  пакет документов.</p>
               </article>
               <article>
                    <img src="" alt="">
                    <h3>Частным клиентам</h3>
                    <p>Оперативные решения сложных вопросов в режиме онлайн: ДТП, наследство, страховые споры, земельные и имущественные процессы, защита прав.</p>
               </article>
          </section>
          <section class="tarifi">
               <h2>Тарифы</h2>
               <p>для всех и для каждого</p>
               <a href="#">1 месяц</a>
               <a href="#">Год</a>
               <ul>
                    <li>
                         <h3>Легкий старт</h3>
                         <p>Для физических лиц</p>
                         <p>$28/месяц</p>
                         <p>Для Вас доступно</p>
                         <ol>
                              <li>Бесплатная телефонная линия + функция “перезвоните мне” </li>
                              <li>Доступ к первому юридическому интеллекту Sirius 24/7</li>
                              <li>Личный кабинет (полная версия)</li>
                              <li>Конструктор документов</li>
                              <li>Устные и письменные консультации юристов 24/7</li>
                         </ol>
                         <a href="#">Подробнее в личном кабинете</a>
                         <a href="#">Оставить заявку</a>
                    </li>
                    <li>
                         <h3>Стандарт</h3>
                    </li>
                    <li>
                         <h3>бизнес-консультант</h3>
                    </li>
                    <li>
                         <h3>бизнес-премиум</h3>
                    <li>
                         <h3>международный бизнес</h3>
                    </li>
               </ul>
          </section>
          <section>
               <h2>Станьте партнером ILC</h2>
               <p>и зарабатывайте на рекомендациях в любое время, из любой точки мира</p>
          </section>
          <section class="start">
               <h2>Начать легко</h2>
               <article>
                    <h3>Регистрация</h3>
                    <p>Заполните простую форму для участия в программе и активируйте клиентский пакет.</p>
               </article>
               <article>
                    <h3>Обучение</h3>
                    <p>Вас ждут полезные обучающие материалы, с помощью которых вы легко сможете монетизировать свое время.</p>
               </article>
               <article>
                    <h3>Стратегия</h3>
                    <p>Воспользуйтесь подробным и понятным алгоритмом действий для достижения классных результатов.</p>
               </article>
               <article>
                    <h3>Результат</h3>
                    <p>Воспользуйтесь подробным и понятным алгоритмом действий для достижения классных результатов.</p>
                    <a href="#">Начать зарабатывать</a>
               </article>
          </section>
          <section>
               <h2>Прогнозы партнерской программы на 2021 год</h2>
               <dl>
                    <dt>$2 млн.</dt>
                    <dd>Заработают партнеры ILC</dd>

                    <dt>10 000+</dt>
                    <dd>Полисов будет оформлено по партнерским ссылкам</dd>

                    <dt>800+</dt>
                    <dd>Партнеров присоединится к нам</dd>

                    <dt>$1500</dt>
                    <dd>Средний доход партнера в месяц</dd>
                    
               </dl>
          </section>
     </main>
     <footer>
          <div class="logo">

          </div>

          <div>
               <blockquote>©2021 «International Legal Center» | Разработано: effex-it.com</blockquote>
               <a href="#">Политика конфиденциальности</a>
               <a href="#">Пользовательское соглашение</a>
          </div>
     </footer>
</body>
</html>