<!DOCTYPE html>
<html lang="ru">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <link rel="stylesheet" href="../assets/css/main.css">
     <link rel="stylesheet" href="../assets/fonts/Roboto/stylesheet.css">
     <link rel="stylesheet" href="../assets/fonts/GothamPro/stylesheet.css">
</head>
<body>
     <header>     
          <div class="header-information">
               <div class="logo-block-wrap">
                    <svg viewBox="0 0 87 63" xmlns="http://www.w3.org/2000/svg">
                         <path d="M31.2114 58H47.5918V63H26.2308V0H31.2114V58Z"/>
                         <path d="M4.98053 0H0V63H4.98053V0Z"/>
                         <path d="M56.4461 31.5556C56.4461 46.1111 68.2887 58 82.7876 58V63C65.411 63 51.3549 48.8889 51.3549 31.5556C51.4655 14.1111 65.5217 0 82.8982 0V5C68.2887 5 56.4461 16.8889 56.4461 31.5556Z"/>
                         <path d="M86.4399 31.4444C86.4399 33.4444 84.8904 35 82.8982 35C80.906 35 79.3565 33.4444 79.3565 31.4444C79.3565 29.4444 80.906 27.8889 82.8982 27.8889C84.7798 27.8889 86.4399 29.5556 86.4399 31.4444Z"/>
                    </svg>
                    <abbr title="International Legal Center">International</br>Legal Center</abbr>
                    <p class="text-description_color-base">Первый цифровой международный юридический центр</p>
               </div>
               <div class="header-information__connect">
                    <a class="header-information__connect__phone-icon" href="tel:+78005113768">
                         <div>
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 22" >
                                   <g>
                                        <path clip-rule="evenodd" d="M0.180908 3.66665C0.180908 2.27444 1.30953 1.14582 2.70174 1.14582H10.0351C11.4273 1.14582 12.5559 2.27444 12.5559 3.66665V18.3333C12.5559 19.7256 11.4273 20.8542 10.0351 20.8542H2.70174C1.30953 20.8542 0.180908 19.7256 0.180908 18.3333V3.66665ZM2.70174 2.52082C2.06891 2.52082 1.55591 3.03382 1.55591 3.66665V18.3333C1.55591 18.9662 2.06891 19.4792 2.70174 19.4792H10.0351C10.6679 19.4792 11.1809 18.9662 11.1809 18.3333V3.66665C11.1809 3.03382 10.6679 2.52082 10.0351 2.52082H2.70174Z" />
                                        <path clip-rule="evenodd" d="M3.61841 1.14582C3.23872 1.14582 2.93091 1.45363 2.93091 1.83332V2.74999C2.93091 3.63595 3.64912 4.35415 4.53507 4.35415H8.20174C9.0877 4.35415 9.80591 3.63595 9.80591 2.74999V1.83332C9.80591 1.45363 9.49809 1.14582 9.11841 1.14582H3.61841Z"/>
                                   </g>
                              </svg>
                         </div>
                    </a>
                    <div class="header-information__connect__group">
                         <a class="text-phone" id="phone" href="tel:+78005113768">8 (800) 511-37-68</a>
                         <a class="btn" href="#">Войти</a>
                    </div>
               </div>
               <nav class="header-information_nav">
                    <input type="checkbox" id="menu-toggle">
                    <label for="menu-toggle">
                         <div>
                              <span></span>
                              <span></span>
                              <span></span>
                         </div>
                    </label>
                    <ul>
                         <li id="login-nav-btn"><a href="#">Войти</a></li>
                         <li><a href="#">О компании</a></li>
                         <li><a href="#">Услуги</a></li>
                         <li><a href="#">Sirius</a></li>
                         <li><a href="#">Тарифы</a></li>
                         <li><a href="#">FAQ</a></li>
                         <li><a href="#">Контакты</a></li>
                    </ul>
               </nav>
               
               
          </div>

          <!-- <section class="top-nav">
               <input id="menu-toggle" type="checkbox" />
               <label class='menu-button-container' for="menu-toggle">
               <div class='menu-button'></div>
             </label>
               <ul class="menu">
                 <li>One</li>
                 <li>Two</li>
                 <li>Three</li>
                 <li>Four</li>
                 <li>Five</li>
               </ul>
             </section> -->
          <h1 class="text-header">Юридический полис ILC — быстрое решение сложных вопросов 24/7</h1>
          <p class="text-description_color-base">Ваша личная команда профессиональных юристов, которая всегда под рукой. А также доступ к бонусам партнерской программы — доход до $260 с каждого полиса, купленного по вашему приглашению.</p>
          <a href="#">Попробовать бесплатно</a>
          <dl class="text-header-list">
               <dt><img src="" alt="support"></dt>
               <dd>Юридическая поддержка 24/7</dd>

               <dt><img src="" alt="support"></dt>
               <dd>Множество возможностей в одном полисе</dd>

               <dt><img src="" alt="support"></dt>
               <dd>Бонусы партнерской программы</dd>
          </dl>
     </header>
     <main>
          <section class="support">
               <h2 class="text-header-subblock-title">Ваша личная online команда юристов</h2>
               <p class="text-description">Мы предоставляем комплексный консалтинговый сервис с полисной системой обслуживания для частных клиентов и для бизнеса, с использованием новейших цифровых технологий.</p>
               <dl>
                    <dt></dt>
                    <dd class="text-description"></dd>

                    <dt></dt>
                    <dd class="text-description"></dd>

                    <dt></dt>
                    <dd class="text-description"></dd>

                    <dt></dt>
                    <dd class="text-description"></dd>
               </dl>
               <p>Даём поддержку</p>
               <article>
                    <img src="" alt="">
                    <h3>Бизнесу</h3>
                    <p class="text-description">Услуги профессиональных юристов для вашей компании по фиксированному тарифу — это в несколько раз выгоднее, чем содержать свой штат.</p>
               </article>
               <article>
                    <img src="" alt="">
                    <h3>StartUP проектам</h3>
                    <p class="text-description">Эксперты ILC помогут выбрать оптимальную правовую форму для ведения бизнеса, оптимизировать налоги и подготовить необходимый  пакет документов.</p>
               </article>
               <article>
                    <img src="" alt="">
                    <h3>Частным клиентам</h3>
                    <p class="text-description">Оперативные решения сложных вопросов в режиме онлайн: ДТП, наследство, страховые споры, земельные и имущественные процессы, защита прав.</p>
               </article>
          </section>
          <section class="tarifi">
               <h2>Тарифы</h2>
               <p>для всех и для каждого</p>
               <a href="#">1 месяц</a>
               <a href="#">Год</a>
               <ul>
                    <li>
                         <h3>Легкий старт</h3>
                         <p>Для физических лиц</p>
                         <p>$28/месяц</p>
                         <p>Для Вас доступно</p>
                         <ol class="text-description_list">
                              <li>Бесплатная телефонная линия + функция “перезвоните мне” </li>
                              <li>Доступ к первому юридическому интеллекту Sirius 24/7</li>
                              <li>Личный кабинет (полная версия)</li>
                              <li>Конструктор документов</li>
                              <li>Устные и письменные консультации юристов 24/7</li>
                         </ol>
                         <a href="#">Подробнее в личном кабинете</a>
                         <a href="#">Оставить заявку</a>
                    </li>
                    <li>
                         <h3>Стандарт</h3>
                    </li>
                    <li>
                         <h3>бизнес-консультант</h3>
                    </li>
                    <li>
                         <h3>бизнес-премиум</h3>
                    <li>
                         <h3>международный бизнес</h3>
                    </li>
               </ul>
          </section>
          <section>
               <h2>Станьте партнером ILC</h2>
               <p>и зарабатывайте на рекомендациях в любое время, из любой точки мира</p>
          </section>
          <section class="start">
               <h2>Начать легко</h2>
               <article>
                    <h3>Регистрация</h3>
                    <p class="text-description">Заполните простую форму для участия в программе и активируйте клиентский пакет.</p>
               </article>
               <article>
                    <h3>Обучение</h3>
                    <p class="text-description">Вас ждут полезные обучающие материалы, с помощью которых вы легко сможете монетизировать свое время.</p>
               </article>
               <article>
                    <h3>Стратегия</h3>
                    <p class="text-description">Воспользуйтесь подробным и понятным алгоритмом действий для достижения классных результатов.</p>
               </article>
               <article>
                    <h3>Результат</h3>
                    <p class="text-description">Воспользуйтесь подробным и понятным алгоритмом действий для достижения классных результатов.</p>
                    <a href="#">Начать зарабатывать</a>
               </article>
          </section>
          <section>
               <h2>Прогнозы партнерской программы на 2021 год</h2>
               <dl>
                    <dt>$2 млн.</dt>
                    <dd>Заработают партнеры ILC</dd>

                    <dt>10 000+</dt>
                    <dd>Полисов будет оформлено по партнерским ссылкам</dd>

                    <dt>800+</dt>
                    <dd>Партнеров присоединится к нам</dd>

                    <dt>$1500</dt>
                    <dd>Средний доход партнера в месяц</dd>
                    
               </dl>
          </section>
     </main>
     <footer>
          <div class="logo-block-wrap">
               <svg viewBox="0 0 87 63" xmlns="http://www.w3.org/2000/svg">
                    <path d="M31.2114 58H47.5918V63H26.2308V0H31.2114V58Z"/>
                    <path d="M4.98053 0H0V63H4.98053V0Z"/>
                    <path d="M56.4461 31.5556C56.4461 46.1111 68.2887 58 82.7876 58V63C65.411 63 51.3549 48.8889 51.3549 31.5556C51.4655 14.1111 65.5217 0 82.8982 0V5C68.2887 5 56.4461 16.8889 56.4461 31.5556Z"/>
                    <path d="M86.4399 31.4444C86.4399 33.4444 84.8904 35 82.8982 35C80.906 35 79.3565 33.4444 79.3565 31.4444C79.3565 29.4444 80.906 27.8889 82.8982 27.8889C84.7798 27.8889 86.4399 29.5556 86.4399 31.4444Z"/>
               </svg>
               <abbr title="International Legal Center">International</br>Legal Center</abbr>
               <p class="text-description_color-base">Первый цифровой международный юридический центр</p>
          </div>

          <div>
               <blockquote>©2021 «International Legal Center» | Разработано: effex-it.com</blockquote>
               <a href="#">Политика конфиденциальности</a>
               <a href="#">Пользовательское соглашение</a>
          </div>
     </footer>
</body>
</html>