@import './scss/variables';
@import './scss/reset';

body{
     padding-top: 48px;
     margin: 0;
     font-family: 'Gotham Pro';
     background-color: $body-color;
     height: 100vh;
     
     *{
          box-sizing: border-box;
          margin: 0;
          padding: 0;
     }
     
}

@mixin container($size) {
     width: $size;
     margin: 0 auto
}

// Main Style
.large-container {
     @include container($size: 1280px)
}

.small-container {
     @include container($size: 1060px)
}

// Component
@import './scss/components/ui.scss';

// Blocks
@import './scss/blocks/header.scss';
@import './scss/blocks/main.scss';
@import './scss/blocks/footer.scss';

// Adaptive
@import './scss/a-main.scss';