@media (max-width: 850px) {
     @import './adaptive/850px/logoBlock';
     @import './adaptive/850px/header';
     @import './adaptive/850px/header-information';
     @import './adaptive/850px/header-information-nav';
     @import './adaptive/850px/header-title';
     @import './adaptive/850px/header-advantages';
     

}